@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');

*,*:before,*:after{
	box-sizing: border-box;
}

html,
body{
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
}

body{
	margin: 0;
	background: url('http://lorempixel.com/1500/1500') no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #e5e5e5;
}

body:before{
	content: '';
	background: rgba(0,0,0,0.75);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.container{
	width: 90%;
	max-width: 850px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

h1{
	font-weight: 200;
	font-size: 2.5em;
	flex: 5 4000px;
	text-align: center;
}

.arithmetic{
	display: flex;
	flex-wrap: wrap;
}

.section{
	flex: 1 350px;
	margin: 0 25px 25px;
	background: rgba(0,0,0,0.5);
	border: rgba(181,177,16, 0.5) 1px solid;
	padding: 10px;
}

.section p{
	margin: 20px 0;
	text-align: center;
	font-size: 45px;
}

.section .center{
	margin: 0 auto;
	width: 90%;
	text-align: center;
}

.section input{
	padding: 10px;
	background: rgba(181,177,16, 0.5);
	border: none;
	color: white;
	width: 46%;
}

.section span{
	display: block;
	padding: 5px 10px;
	font-size: 20px;
	text-align: center;
}
