#banner {
    background-color: #ff0000;
    text-align: center;
    padding: 10px;
}

#banner img {
    vertical-align: middle;
    margin: 0 10px 0 10px;
}

#banner span {
    color: white;
    font-size: 32px;
    margin: 10px;
}

#table_nav {
    background-color: black;
    vertical-align: top;
}

nav ul {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    list-style-type: none;
}

nav ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
}

h2 {
    color: red;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    border: none;
    text-align: left;
    vertical-align: top;
}

table {
    border-spacing: 0;
}

.nested td {
    margin: 5px;
}

#table1 {
    padding: 30px;
}

.joe {
    float: left;
    margin: 15px;
}

.notjoe {
    margin: 0 15px 15px 15px;
}

hr {
    border-color: #ffe4e1;
}
