.container {
    max-width: 1024px;
}

img {
    width: 100%
}

.container section {
    color: white;
    float: left;
    min-height: 100px;
    transition: 6s;
}

#left {
    width: 90%;
    background-color: black;
}

#right {
    width: 10%;
    background-color: grey;
}

@media screen and (max-width: 320px) {
    .container section {
        height: 200px;
    }
    #left {
        width: 30%;
    }
    #right {
        width: 70%;
        background-color: green;
    }
}

@media screen and (min-width: 321px) and (max-width: 640px) {
    #left {
        width: 50%;
    }
    #right {
        width: 50%;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    #left {
        width: 70%;
    }
    #right {
        width: 30%;
    }
}
