@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');

*,*:before,*:after{
	box-sizing: border-box;
}

html,
body{
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
}

body{
	margin: 0;
	background: url('http://lorempixel.com/1500/1500') no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #e5e5e5;
}

body:before{
	content: '';
	background: rgba(0,0,0,0.65);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
