fieldset {
    background-color: #c3e6e5;
    padding-top: 0;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

legend {
    text-align: left;
    background-color: #eFeFeF;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
    text-transform: uppercase;
}

fieldset div {
    display: inline-block;
    text-align: right;
    font-weight: 600;
}

input {
    margin: 10px 0 0 10px;
    color: #5A5854;
    background-color: #F2F2F2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
}

input:hover {
    background-color: #C3E6E5;
    transition: background-color 2s;
}

td {
    padding: 10px;
}
