@charset "UTF-8";
body {}

ul {
    display: table;
    margin: 0 auto 0 auto;
}

li:nth-child(1) {
    list-style-image: url(../images/apple1.png);
}

li:nth-child(2) {
    list-style-image: url(../images/orange.png);
}

li:nth-child(3),
.bana {
    list-style-image: url(../images/banana.png);
}
