table {
    background-color: white;
    padding: .9%;
}

td {
    padding-left: 1%;
    padding-right: 1%;
    align-content: center;
}

td h2 {
    text-align: center;
}

td img {
    width: 100%;
}

td h1 {
    color: green;
}

td p {
    font-style: italic;
}

footer p {
    font-weight: bold;
}
