body {
    background-color: cornflowerblue;
    margin: 0px;
}

a:link {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 80px;
}

header {
    background-color: white;
    height: 150px;
}

.terms {
    background-color: yellow;
    color: black;
    height: 50px;
}

.terms h1 {
    width: 900px;
    margin: 0px 0px 0px 20px;
    height: 90px;
}


}
.pic1 {
    float: left;
    width;
    140px;
}
nav {
    float: left;
    padding: 30px 0px 0px 70px;
    width: 720px;
}
.bigpic {
    float: left;
}
.picsection {
    clear: both;
    margin: 20px 0px 0px 20px;
}
.smpic {
    width: 260px;
    float: left;
    margin-left: 20px;
    background-color: white;
}
footer {
    clear: both;
    margin-left: 20px;
    font-weight: bold;
}
