@charset "UTF-8";
table {
    width: 360px;
    color: blue;
    background-color: gray;
    border-color: black;
}

td {
    width: 120px;
    transition: padding 6s;
}

td:hover {
    padding: 200px 200px 150px 200px;
    background-image: url("../images/starwar.jpg")
}
