        * {
            transition: 3s;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-color: #c2c5d6;
            color: #444;
            font-family: arial, sans-serif;
        }
        
        .container {
            margin: auto;
            margin-bottom: 10px;
            width: 960px;
            background-color: #FFFFFF;
            box-shadow: 5px 5px 20px #000000;
        }
        
        .call {
            text-align: center;
            color: #c2c5d6;
            font-size: 1.6rem;
        }
        
        img {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
        
        nav,
        nav ul {
            padding: 0;
            margin: 0;
        }
        
        nav ul li {
            display: inline-block;
            min-width: 12%;
            text-align: center;
            color: ;
        }
        
        nav a {
            text-decoration: none;
            color: #602e8b;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        section p,
        section img {
            display: inline-block;
        }
        
        section p {
            width: 60%;
            margin-left: 4%;
        }
        
        section img {
            width: 25%;
        }
        
        section h1 {
            color: #602e8b;
            margin-left: 30px;
        }
        
        section h2 {
            margin-left: 55px;
        }
        
        footer {
            margin: 0;
            color: white;
            background-color: #602e8b;
            padding: 5px 0 25px 5px;
        }
        
        hr {
            margin-right: 4%;
            margin-left: 4%;
        }
